@import url("reset_style.css");

body {
    height: 5000px;
}




.container {
    max-width: 1470px;
    width: 100%;

    margin: 0 auto;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: "AvenirNextCyr-Regular";
    src: url(AvenirNextCyr-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "AvenirNextCyr-Bold";
    src: url(AvenirNextCyr-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "AvenirNextCyr-Light";
    src: url(AvenirNextCyr-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "AvenirNextCyr-Medium";
    src: url(AvenirNextCyr-Medium.ttf);
    font-weight: 500;
}


// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// 
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.header__container {
    display: flex;
    flex-direction: column;
}




// Первая линия Header

.header__first-line {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 72px;

    border-bottom: solid 1px #DFDFE0;
    ;
}

.header__logo-container {
    display: block;

    width: 125px;
    height: 50px;
}

.header__logo {
    width: 125px;
    height: 50px;
}



.header__search-container {
    display: flex;
    align-items: center;
    justify-content: space-around;

    max-width: 644px;
    width: 100%;
    height: 44px;

    border-radius: 30px;
    background-color: #F0F1F2;
}

.header__search-label {

    margin: 2px 0 0 5px;

    cursor: pointer;

    img {
        width: 16px;
        height: 16px;
    }
}

.header__search-input {

    max-width: 450px;
    width: 100%;
    height: 20px;

    border: none;
    outline: none;

    background-color: #F0F1F2;
}

.header__search-btn {
    width: 88px;
    height: 34px;

    border-radius: 24px;
    border: none;

    background: #192965;

    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-family: "AvenirNextCyr-Regular";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;

    transition: all 0.2s linear 0s;

    &:hover {
        transition: all 0.2s linear 0s;
        background: #0e1636;
    }
}



.header__login-auth {
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 234px;
    width: 100%;
    height: 48px;

    border-radius: 30px;
    background: #E3EBFD;

    transition: all 0.2s linear 0s;

    &:hover {
        transition: all 0.2s linear 0s;
        background: #ccdbff;
    }

    p {
        color: #1E1E1E;
        text-align: center;
        font-size: 12px;
        font-family: "AvenirNextCyr-Bold";
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}
















// Вторая линия Header
.header__second-line {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 72px;
}





// Навигация
.header__nav {
    display: flex;
    column-gap: 40px;

    a {
        color: #1E1E1E;
        font-size: 14px;
        font-family: "AvenirNextCyr-Regular";
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        padding: 27px 0;
    }

    .header__nav-collections {
        display: flex;
        align-items: center;
        column-gap: 8px;

        color: #192965;
        font-size: 14px;
        font-family: "AvenirNextCyr-Bold";
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        cursor: pointer;

        .header__nav-arrow {
            transition: all 0.2s ease 0s;
        }
    }

}


// Выпадающее меню навигации Header

.header__drop-menu-container {

    position: absolute;
    top: 71px;
    left: 0;

    display: flex;
    flex-direction: column;

    width: 218px;
    height: 283px;

    overflow-y: auto;

    background-color: #FFFFFF;

    border-radius: 0 0 8px 8px;


    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease 0s;

    a {
        padding: 13px 14px;
        margin: 8px 11px;

        color: #1E1E1E;
        font-size: 12px;
        font-family: "AvenirNextCyr-Bold";
        font-style: normal;
        font-weight: 700;
        line-height: 20px;

        border-radius: 8px;

        &:hover {
            background: #E3EBFD;
        }
    }
}

// Стиль при добавлении которого будет появляться меню
.active {
    opacity: 1;
    visibility: visible;
    transition: all 0.2s ease 0s;

    z-index: 11;
}

.active_arrow {
    transform: rotate(-180deg) translateY(-4px);
    transition: all 0.2s ease 0s;
}


// Стилизация полосы прокрутки выпадающего меню в Header

.header__drop-menu-container {
    scrollbar-width: thin;
    scrollbar-color: #a1a1a1 #fff;

    &::-webkit-scrollbar {
        width: 12px;

    }

    &::-webkit-scrollbar-track {
        background: #fff;
        border-radius: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #a1a1a1;
        border-radius: 20px;
        border: 3px solid #fff;
    }
}













// Правый контейнер второй линии
.header__second-line__right-container {
    display: flex;
    column-gap: 70px;
}

.header__second-line__icon-container {
    display: flex;
    column-gap: 8px;
}

.header__select {
    display: flex;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;

    border-radius: 30px;
    background: #E3EBFD;

    transition: all 0.2s linear 0s;

    &:hover {
        transition: all 0.2s linear 0s;
        background: #cad9fc;
    }
}

.header__basket {
    display: flex;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;

    border-radius: 30px;
    background: #192965;

    transition: all 0.2s linear 0s;

    &:hover {
        transition: all 0.2s linear 0s;
        background: #0e1636;
    }
}

.header__lang-container {
    display: flex;
    align-items: center;

    column-gap: 6px;

    cursor: pointer;

    p {
        color: #1E1E1E;
        font-size: 24px;
        font-family: "AvenirNextCyr-Medium";
        font-style: normal;
        font-weight: 450;
        line-height: normal;
        text-transform: uppercase;
    }

    img {
        width: 16px;
        height: 16px;
    }
}






// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// 
// Свайпер
// 
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// Стили Свайпера из коробки
.swiper {
    width: 100%;

}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100%;
    }
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}



//  Мои стили Свайпера
.swiper-button-prev {
    width: 52px !important;
    height: 52px !important;
    border-radius: 50%;

    background: rgba(109, 109, 109, 0.60);
    backdrop-filter: blur(7.5px);

    margin-left: 30px;

    &::after {
        font-size: 20px !important;
        color: #FFF !important;
    }
}

.swiper-button-next {
    width: 52px !important;
    height: 52px !important;
    border-radius: 50%;

    background: rgba(109, 109, 109, 0.60);
    backdrop-filter: blur(7.5px);

    margin-right: 30px;

    &::after {
        font-size: 20px !important;
        color: #FFF !important;
    }
}



.swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.swiper-pagination-bullet {
    width: 13px !important;
    height: 13px !important;
    background-color: #fff !important;
    opacity: 1 !important;

    margin: 0 13px !important;
}

.swiper-pagination-bullet-active {
    width: 22px !important;
    height: 22px !important;

    background-color: transparent !important;

    border: solid 2px #fff;
}





// Стили внутреней карточки слайда Свайпера

.container-a_p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 100%;
}

.slide-card__container {
    position: absolute;
    bottom: 70px;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}



.slide-card__subtitle {
    display: flex;
    width: 111px;
    height: 40px;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;

    border-radius: 30px;
    background: #518581;

    color: #FFF;
    font-family: "AvenirNextCyr-Medium";
    font-size: 14px;
    font-weight: 500;
}

.slide-card__title {
    margin-bottom: 25px;

    color: #FFF;
    text-align: right;
    font-family: "AvenirNextCyr-Medium";
    font-size: 81px;
    font-weight: 600;
}

.slide-card__price {
    margin-bottom: 25px;

    color: #FFF;
    text-align: right;
    font-family: "AvenirNextCyr-Bold";
    font-size: 26px;
    font-weight: 700;
}

.slide-card__button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 193px;
    height: 52px;

    color: #FFF;
    font-family: "AvenirNextCyr-Medium";
    font-size: 20px;
    font-weight: 500;

    border-radius: 30px;
    border: 2px solid #FFF;

    transition: all 0.2s ease-in 0s;

    &:hover {
        transition: all 0.2s ease-in 0s;
        background-color: #192965;
        border-color: #192965;
    }
}