@font-face {
    font-family: "AvenirNextCyr-Regular";
    src: url(./../fonts/AvenirNextCyr-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "AvenirNextCyr-Bold";
    src: url(./../fonts/AvenirNextCyr-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "AvenirNextCyr-Light";
    src: url(./../fonts/AvenirNextCyr-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "AvenirNextCyr-Medium";
    src: url(./../fonts/AvenirNextCyr-Medium.ttf);
    font-weight: 500;
}